#title {
  text-align: center;
}

.ingredientTable {
  text-align: center;
  display: inline-block;
  float: none;
}

@page {
  size:8.5in 11in;
}

#getPdf {
  text-align: center;
}

.pdfDiv {

  display: inline-block;
  float:none;
}
